body {
    background-color: crimson;
}

h1 {
    text-align: center;
    color: floralwhite;
}

#contents {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 800px;
    background-color: floralwhite;
}

h2 {
    text-align: center;
    margin: 0;
    padding-top: 30px;
    font-size: 30px;
}

p {
    margin: 0;
    padding: 30px;
}

img {
    width: 250px;
    height: 300px;
    border: 10px solid rgb(207, 216, 173);
    border-radius: 3px;
    margin: 15px;
}

.imagesLeft{
    float: left;
    position: relative;
    left: -500px;
}

.animationL {
    animation-name: slideInLeft;
    animation-duration: 1.5s;
    left: 0px;
}

@keyframes slideInLeft {
    0%   {left:-500px; top:0px;}
  100%  {left:0px; top:0px;}
}

.imagesRight {
    float: right;
    position: relative;
    right: -500px;
}

.animationR {
    animation-name: slideInRight;
    animation-duration: 1.5s;
    right: 0px;
}

@keyframes slideInRight {
    0%   {right:-500px; top:0px;}
  100%  {right:0px; top:0px;}
}
