body {
    background-color: crimson;
}

h1 {
    text-align: center;
    color: floralwhite;
}

#contents {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 800px;
    background-color: floralwhite;
}

h2 {
    text-align: center;
    margin: 0;
    padding-top: 30px;
    font-size: 30px;
}

p {
    margin: 0;
    padding: 30px;
}

img {
    width: 250px;
    height: 300px;
    border: 10px solid rgb(207, 216, 173);
    border-radius: 3px;
    margin: 15px;
}

.images1, .images3, .images5 {
    float: left;
}

.images2, .images4 {
    float: right;
}
